<!DOCTYPE html>
<html>
<head>
	<title>Media Browser</title>

	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/customStyle.css">

	<script type="text/javascript">window.$ = window.jQuery = require( '../js/jquery.min.js');</script>
	<script src="../js/tether.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/socket.io.js"></script>
	<script src="../js/customScript.js"></script>

	<script src="../js/ytAuth.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
	<script src="https://www.youtube.com/iframe_api"></script>

</head>
<body>

	<h1 id="wPlaceHolder">Testing Home Page</h1>
	<div id="vAPP">Testing vAPP</div> 

</body>
</html>
